.p-input{
  padding: 12px 0;
  background-color: $dark;
  outline: 0;
  border: 0;
  color: $text;
  border-bottom: 1px solid $dark2;
  margin-bottom: 12px;
  text-indent: 10px;
  &--outline{
    border: 1px solid $dark2;
  }
}